.about {
  background-color: var(--light-color);
  h2 {
    width: 891px;
    margin-top: 120px;
    font-weight: 400;
    font-size: 30px;
    line-height: 160%;
    color: var(--dark-color);
    span {
      font-weight: 600;
    }
  }
  .about__stats {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    .about__element {
      display: flex;
      flex-direction: column;
      width: 260px;
      .about__number {
        font-weight: 600;
        font-size: 70px;
        line-height: 160%;
        color: var(--accent-color);
      }
      .about__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: var(--text-color);
        margin-bottom: 120px;
      }
    }
  }
}

@media screen and (min-width: 1099px) and (max-width: 1440px) {
  .about__stats {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    gap: 20px !important;
    .about__element {
      display: flex;
      flex-direction: column;
      width: 260px;
      .about__number {
        font-weight: 600;
        font-size: 60px !important;
        line-height: 160%;
        color: var(--accent-color);
      }
      .about__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: var(--text-color);
        margin-bottom: 120px;
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 500px) {
  .container {
    padding: 0px 10px;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h2 {
    margin: 0;
    max-width: 300px !important;
    margin-top: 60px !important;
    font-weight: 400;
    font-size: 20px !important;
    line-height: 160%;
    span {
      font-weight: 600;
      font-size: 20px;
      line-height: 160%;
    }
  }
  .about__stats {
    margin-top: 35px !important;
    display: flex;
    align-items: center !important;
    flex-direction: column !important;
    gap: 25px !important;
    .about__element {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 270px;
      .about__number {
        font-weight: 600;
        font-size: 60px !important;
        line-height: 160%;
        color: var(--accent-color);
        margin-bottom: -3px;
      }
      .about__text {
        font-weight: 400;
        font-size: 16px !important;
        line-height: 160%;
        text-align: center;
        color: var(--text-color);
        margin-bottom: 0px !important;
      }
    }
  }
}


@media screen and (min-width: 501px) and (max-width: 1099px) {
  .container {
    padding: 0px 3%;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h2 {
    margin: 0;
    width: 100% !important;
    margin-top: 60px !important;
    font-weight: 400;
    font-size: 20px !important;
    line-height: 160%;
    text-align: center;
    span {
      font-weight: 600;
      font-size: 20px;
      line-height: 160%;
    }
  }
  .about__stats {
    margin-top: 35px !important;
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px !important;
    .about__element {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 270px;
      .about__number {
        font-weight: 600;
        font-size: 60px !important;
        line-height: 160%;
        color: var(--accent-color);
        margin-bottom: -3px;
      }
      .about__text {
        font-weight: 400;
        font-size: 16px !important;
        line-height: 160%;
        text-align: center;
        color: var(--text-color);
        margin-bottom:30px !important;
      }
    }
  }
}
