.graph-modal__container {
  padding: 40px !important;
}

.trainers-info {
  display: flex;
  flex-direction: row;
  gap: 40px;
  .trainers-info__desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    h3 {
      color: var(--dark-color);
      font-weight: 600;
      font-size: 24px;
      line-height: 160%;
      margin: 0;
    }
    span {
      color: rgba(20, 16, 36, 0.7);
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      margin: 0;
    }
    .trainers-info__contact {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }
}

.graph-modal__close {
  color: rgba(20, 16, 36, 0.7) !important;
  margin: 20px !important;
  margin-right: 60px !important;
}

.modal-nav {
  width: 100%;
  margin-top: 40px;
  display: flex;
  ul {
    display: flex;
    flex-direction: row;
    gap: 180px;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    .aducation {
      color: var(--accent-color);
    }
    .skill {
      color: var(--dark-color);
    }
    .awards {
      color: rgba(20, 16, 36, 0.2);
    }
  }
}
.hr {
  margin: 20px 0;
  width: 100%;
  height: 1px;
  border: none;
  background-color: rgba(20, 16, 36, 0.11);
}

.aducation-block {
  display: flex;
  flex-direction: column;
  p {
    color: var(--dark-color);
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
  }
  h4 {
    margin: 40px 0px 20px 0px;
    color: var(--dark-color);
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
  }
}
