.__on-hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50px);
  transition: all 600ms var(--default-cubic);
}


.__on-visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

