<section class="give container-fluid">
  <div class="give__container container">
    <h3 class=" __on-hidden">Что вы получите после курса</h3>
    <div class="give__item-full">
      <div class="give__item __on-hidden">
        <span class="give__span-1">Удостоверение</span>
        <span class="give__span-2">Дающее право преподавать робототехнику для детей 6-12 лет в образовательных учреждениях</span>
      </div>
      <div class="give__item __on-hidden">
        <span class="give__span-1">Знания</span>
        <span class="give__span-2">По основам разработки учебно-методических комплексовпо робототехнике и программированию</span>
      </div>
      <div class="give__item __on-hidden">
        <span class="give__span-1 give__child-3">
          Практику
          <span class="tooltip">
            <button class="tooltip__btn" aria-describedby="id1">i</button>
            <span class="tooltip__txt" role="tooltip" id="id1">
              <span class="visually-hidden">Тултип: </span>
              При наличии свободных мест
            </span>
          </span>
        </span>
        <span class="give__span-2">Возможность пройти практику по преподаванию робототехники на базе R:ED LAB (в оффлайн или онлайн формате)</span>
      </div>
    </div>
  </div>
</section>
