<header class="header">
  <div class="container-fluid">

    <a class="logo" href="https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2Fyuutacn" target="_blank">robo.school</a>

    <nav class="nav" title="Меню">
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#about" class="nav__link" data-scroll="">О школе</a></li>
        <li class="nav__item"><a href="#trainers" class="nav__link" data-scroll="">Тренеры</a></li>
        <li class="nav__item"><a href="#price" class="nav__link" data-scroll="">Стоимость</a></li>
      </ul>
    </nav>
    
    <a href="tel: +78000001122" class="phone">7 800 000 11 22</a>
  </div>
</header>
