<section class="container-fluid hero">
  <div class="hero__container">
    <div class="hero-info">
      <h1>ROBO SCHOOL
        <span>Курсы повышения квалификации по робототехнике для педагогов начальной школы</span>
      </h1>
      <button class="hero__btn btn-int">Записаться на курс</button>
    </div>
    <div class="women">
      <div class="women__elepse">
        <picture class="women__pic">
          <source srcset="img/women.avif 1x" type="image/avif">
          <source srcset="img/women.webp 1x" type="image/webp">
          <source srcset="img/women_2x.avif 2x" type="image/avif">
          <source srcset="img/women_2x.webp 2x" type="image/webp">
          <img loading="lazy" src="img/women.png" class="image women__pic-2" width="515" height="917" alt="women">
        </picture>
      </div>
    </div>
  </div>
</section>
