<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="trainer-1">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно">Закрыть</button>
    <div class="graph-modal__content">
      <div class="trainers-info">
        <picture>
          <source srcset="img/trainer-2.avif" type="image/avif">
          <source srcset="img/trainer-2.webp" type="image/webp">
          <img loading="lazy" src="img/trainer-2.jpg" class="image" width="160" height="222" alt="trainer photo">
        </picture>
        <div class="trainers-info__desc">
          <h3>Марина Орлова</h3>
          <span>преподаватель по робототехнике</span>
          <div class="trainers-info__contact">
            <a href="https://www.facebook.com" target="_blank"><img src="img/meta.svg" alt="meta svg" width="30" height="30"></a>
            <a href="https://www.instagram.com/" target="_blank"><img src="img/inst.svg" alt="inst svg" width="30" height="30"></a>
          </div>
        </div>
      </div>
      <div class="modal-nav">
        <ul class="list-reset">
          <li class="aducation">Образование</li>
          <li class="skill">Опыт работы</li>
          <li class="awards">Награды</li>
        </ul>
      </div>
      <hr class="hr">
      <div class="aducation-block">
        <p>Сентябрь 1995 — Июнь 2000<br>
          Санкт-Петербургский политехнический университет Петра Великого<br>
          Факультет: Компьютерных наук и технологий<br>
          Специальность: Математика и компьютерные науки<br>
          Форма обучения: Очная</p>
        <h4>Курсы и тренинги</h4>
        <p>Ноябрь 2020 — Февраль 2021<br>
          Программа дополнительного образования «3D Моделирование»</p>
        <p>Место проведения: Институт дополнительного образования «Политех»</p>
      </div>
    </div>
  </div>
</div>
